<template name="layout">
    
   <div class="navbar-fixed">
        <nav class="cyan darken-1">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Hospital</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {{#if isInRole 'frontdesk'}}
                    <li><a href="{{pathFor route="newpatient"}}">New Patient</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Javascript</a></li>
                    <li><a href="#">Mobile</a></li>
                {{/if}}
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Mobile</a></li>
              </ul>
            </div>
          </nav>
    </div>
          {{> yield}}
</template>